<!-- _includes/people.html -->
<a href="{{ include.url | relative_url }}" class="card-link-reset">
  <div class="card hoverable people-card">
    <div class="people-card-image-wrap">
      <img src="{{ include.img | relative_url }}" alt="{{ include.name }}" class="people-card-image">
    </div>
    <div class="card-body people-card-body">
      <h5 class="card-title text-center people-card-name">{{- include.name -}}</h5>
      <p class="card-text text-center people-card-affiliation">{{- include.affiliation -}}</p>
    </div>
  </div>
</a>
